@tailwind base;
@tailwind components;
@tailwind utilities;

/* dangerouslySetInnerHTML(記事本文)の中のiframeのスタイル */
.embedly-embed {
  @apply w-full;
}

/* Pagenationの矢印と数字のスタイル */
.pagination {
  @apply mx-auto mt-4 mb-9 flex
  items-center justify-center gap-x-4;
}

.pagination li {
  @apply flex h-7 w-7 flex-wrap rounded border border-slate-900 drop-shadow-[0px_5px_5px_rgba(0,0,0,0.15)] dark:border-slate-100 dark:drop-shadow-[0px_5px_5px_rgba(255,255,255,0.1)];
}

.pagination li a {
  @apply flex h-full w-full items-center justify-center;
}

.pagination li:hover {
  @apply bg-slate-100 duration-100 dark:bg-slate-600;
}

.pagination li.pagination__active {
  @apply bg-slate-900 text-white duration-100 dark:bg-slate-100 dark:text-black;
}

.pagination li.pagination__disabled {
  @apply border-slate-100 bg-white text-slate-100 duration-100 dark:border-slate-700 dark:bg-black dark:text-slate-700;
}

.pagination li.pagination__disabled a {
  @apply cursor-default;
}

.pagination li.pagination__disabled:hover {
  @apply bg-white duration-100 dark:bg-black;
}
